<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key ="Server"   value = "LAPTOP-CVSI311J\SQLEXPRESS"/>
		<add key ="DBName"   value = "STBL_MC_Capacity"/>
		<add key ="User"     value = "nathanan-ksc"/>
		<add key ="PW"       value = "nathan@2020"/>
		<add key ="PoolSize" value = "40000"/>
		<add key ="Timeout"  value = "30000"/>
		<add key ="Machine"  value = "LAPTOP-CVSI311J"/>
		<add key ="Type"	 value = "SPI"/>
		<add key ="Line"	 value = "SNT1"/>		
	</appSettings>
</configuration>